backports.functools-lru-cache==1.4
cycler==0.10.0
decorator==4.1.2
funcsigs==1.0.2
lmdb==0.93
matplotlib==2.1.0
mock==2.0.0
networkx==2.0
numpy==1.13.3
olefile==0.44
opencv-python==3.3.0.10
pbr==3.1.1
Pillow==4.3.0
protobuf==3.1.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
PyWavelets==0.5.2
scikit-image==0.13.1
scipy==0.19.1
six==1.11.0
subprocess32==3.2.7
tensorflow==0.12.0rc1
tensorflow-gpu==0.12.0rc0
